{% extends 'base.html.twig' %}

{% block title %}pfe par entreprise{% endblock %}




{% block PageTitle %}
{% endblock %}
{% block body %}

    <div class="alert alert-success" role="alert">
        Nombre de Pfe par entreprise
    </div>
<div class="row"  >
 {% for entreprise in entreprises  %}
     {% if loop.index%2==0 %}

     <div class="card text-white bg-secondary mb-3"  style="max-width: 18rem;margin: 5px";>
         <div class="card-header">{{ entreprise.designation }}</div>
         <div class="card-body">
             <h5 class="card-title">{{ entreprise.pfe|length  }}</h5>
         </div>
     </div>

     {% else%}
     <div class="card text-dark bg-light mb-3" style="max-width: 18rem;margin: 5px";">
         <div class="card-header">{{ entreprise.designation }}</div>
         <div class="card-body">
             <h5 class="card-title">{{ entreprise.pfe|length  }}</h5>
         </div>
     </div>

     {% endif %}

      {% endfor %}

{% endblock %}