{% extends 'base.html.twig' %}
{% block title %}Voitures{% endblock %}





{% block body %}

    {% for personne in personnes %}
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title">{{ personne.name }}</h5>
                <a href="{{ path('app_personne_d', { id: personne.id} ) }}" class="card-link">details</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}