{% extends 'base.html.twig' %}
    {% block title %}Welcome!{% endblock %}

{% block body %}


    <div class="alert alert-info" role="alert">
        <p > Cette voiture de matricule {{ voiture.matricule}} ,de la marque {{ voiture.marque}}
{% if voiture.owner %}
       a été acheté par {{ voiture.owner }}
            {% else %}
    n'a pas encore vendu
{% endif %}
        </p>

    </div>


{% endblock %}